html, body{height:100%; margin:0;padding:0}

body {
	min-width: 425px;
	font-family: Arial;
}

h1 {
	font-size: 21px;
	text-transform: uppercase;
	color: #6CB520;
	font-weight: bolder;
}
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.bg-light {
	background-color: #87949A !important;
	color: #f9f9f9 !important;
}

.bg-lighter {
	background-color: #FEFEFE !important;
	color: #444 !important;
}

.bg-dark {
	background-color: #004566 !important;
	color: #a3a6af;
}

.bg-darker {
	background-color: #002344 !important;
	color: #e0e0e0 !important;
}
.navbar.bg-light {
	border-bottom: 1px solid rgba(161, 167, 178, 0.5);
}

.navbar.bg-dark {
	z-index: 999;
}

.border-light {
	border-color: #d2d2d2 !important;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}
#zclogo.small {
	max-height: 60px;
}
#zclett.small {
	max-height: 35px;
}
#zclogo.large {
	max-height: 100px;
}

#zclett.large {
	max-height: 60px;
}

.avatar img {
	width: 55px;
}

.username {
	font-size: 13px;
	font-weight: 500;
	color: #e5e8ef !important;
}

.fake-tooltip {
	max-width: 60%;
	background-color: #494F5C;
	color: #d3d5da;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
	padding: 2em 2.8em;
	border-radius: 3px;
}

.fake-tooltip::after{
    content: '';
    position: absolute;
    left: 48%;
    bottom: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #494F5C;
    clear: both;
}

.text-primary {
	color: #8BC53F !important;
}

a.text-primary:hover {
	color: #7AB42E !important;
}

.bg-primary {
	background-color: #8BC53F !important;
}

button.bg-primary:hover, a.bg-primary:hover {
	background-color: #7AB42E !important;
}

.btn-primary {
	background-color: #8BC53F !important;
	border: none;
}

.btn-primary:hover {
	background-color: #7AB42E !important;
	border: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	border-color: #59920C !important;
}

.btn-secondary {
	background-color: #f0f0f1 !important;
	border: 1px solid #ccc !important;
	color: #444 !important;
}
.btn-secondary:hover {
	background-color: #CCCFD6 !important;
}

.btn-secondary i {
	color: #939393 !important;
}

.bg-blue {
	background-color: #2196F3;
}

button.bg-blue:hover, a.bg-blue:hover {
	background-color: #1085E2 !important;
}

.text-blue {
	color: #2196F3;
}

.btn-gold {
	background-color: #FFB324;
	/*border: 1px solid #ea9a02;*/
	color: #fff;
}

.btn-gold:hover {
	background-color: #EEA213;
	color: #fff;
}

.text-gold {
	color: #EEA213;
}

a[type=button] {
	border: none;
	-webkit-appearance: inherit;
}

@media (max-width: 780px) {
	.fake-tooltip {
		max-width: 100%;
	}
}
.table thead th {
	border-bottom: 1px solid #dee2e6;
	color: #004566 !important;
	font-weight: 800;
}
.table th {
	border-top: none;
	text-transform: uppercase;
	color: #666;
}

.table td {
    border-top: 1px solid #f0f0f0;
}

.noborder {
	border: none !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
	border-top-color: #494F5C !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
	border-right-color: #494F5C !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
	border-left-color: #494F5C !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
	border-bottom-color: #494F5C !important;
}

.tooltip > .tooltip-inner {
	background-color: #494F5C !important;
	padding: 10px 25px;
    font-size: 16px;
}

table th {
	padding: 0.3rem !important;
	font-size: .7em;
}
.shadow-light {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.vbottom{
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
}