html, body{height:100%; margin:0;padding:0}

body {
	min-width: 425px;
	font-family: Arial;
}

h1 {
	font-size: 21px;
	text-transform: uppercase;
	color: #6CB520;
	font-weight: bolder;
}
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.bg-light {
	background-color: #f5f5f5 !important;
	color: #777 !important;
}

.bg-lighter {
	background-color: #f9f9f9 !important;
	color: #444 !important;
}

.bg-dark {
	background-color: #004566 !important;
	color: #a3a6af;
}

.bg-darker {
	background-color: #002344 !important;
	color: #e0e0e0 !important;
}
.navbar.bg-light {
	border-bottom: 1px solid rgba(161, 167, 178, 0.5);
}

.navbar.bg-dark {
	z-index: 3;
}

.border-light {
	border-color: #d2d2d2 !important;
}

.dashed {
	border-style: dashed !important;
}

.border-thick {
	border-width: 2px !important;
}
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}
#zclogo.small {
	max-height: 50px;
}
#zclett.small {
	max-height: 25px;
}
#zclogo.large {
	max-height: 100px;
}

#zclett.large {
	max-height: 60px;
}

.avatar img {
	width: 55px;
}

.username {
	font-size: 13px;
	font-weight: 500;
	color: #e5e8ef !important;
}

.fake-tooltip {
	max-width: 60%;
	background-color: #494F5C;
	color: #d3d5da;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
	padding: 2em 2.8em;
	border-radius: 3px;
}

.fake-tooltip::after{
    content: '';
    position: absolute;
    left: 48%;
    bottom: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #494F5C;
    clear: both;
}

.text-primary {
	color: #8BC53F !important;
}

a.text-primary:hover {
	color: #7AB42E !important;
}

.bg-primary {
	background-color: #8BC53F !important;
}

button.bg-primary:hover, a.bg-primary:hover {
	background-color: #7AB42E !important;
}

.btn-primary {
	background-color: #8BC53F !important;
	border: none;
}

.btn-primary:hover {
	background-color: #7AB42E !important;
	border: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	border-color: #59920C !important;
}

.btn-secondary {
	background-color: #f0f0f1 !important;
	border: 1px solid #ccc !important;
	color: #444 !important;
}
.btn-secondary:hover {
	background-color: #CCCFD6 !important;
}

.btn-secondary i {
	color: #939393 !important;
}

.btn-blue {
	background-color: #004566 !important;
	border: none;
	color: #fff !important;
}

.bg-blue {
	background-color: #004566 !important;
	color: #fff;
}

.bg-sky {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1dbff+0,cbebff+34,f0f9ff+100,f0f9ff+101 */
	background: #a1dbff; /* Old browsers */
	background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 34%, #f0f9ff 100%, #f0f9ff 101%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 34%,#f0f9ff 100%,#f0f9ff 101%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 34%,#f0f9ff 100%,#f0f9ff 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
	color: #004566;
}

.text-blue {
	color: #004566 !important;
}

.text-light {
	color: #dfe1e2 !important;
}

.bg-blue {
	background-color: #2196F3;
}

button.bg-blue:hover, a.bg-blue:hover {
	background-color: #1085E2 !important;
}

.text-blue {
	color: #2196F3;
}

.btn-gold {
	background-color: #FFB324;
	/*border: 1px solid #ea9a02;*/
	color: #fff;
}

.btn-gold:hover {
	background-color: #EEA213;
	color: #fff;
}

.text-gold {
	color: #EEA213;
}

a[type=button] {
	border: none;
	-webkit-appearance: inherit;
}

@media (max-width: 990px) {
	.fake-tooltip {
		max-width: 100%;
	}
	.floating-panel {
	  position: relative !important;
	  z-index: 5;
	  top:0;
	  padding: 5px;
	  line-height: 30px;
	  padding-left: 10px;
	}
}
.table thead th {
	border-bottom: 1px solid #dee2e6;
	color: #004566 !important;
	font-weight: 800;
}
.table th {
	border-top: none;
	text-transform: uppercase;
	color: #666;
}

.table td {
    border-top: 1px solid #f0f0f0;
}

.noborder {
	border: none !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
	border-top-color: #494F5C !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
	border-right-color: #494F5C !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
	border-left-color: #494F5C !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
	border-bottom-color: #494F5C !important;
}

.tooltip > .tooltip-inner {
	background-color: #494F5C !important;
	padding: 10px 25px;
    font-size: 16px;
}

table th {
	padding: 0.3rem !important;
	font-size: .7em;
}
.shadow-light {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.shadow-medium {
	box-shadow: 1px 1px 7px rgba(0,0,0,0.2);

}

.shadow-dark {
	box-shadow: 2px 2px 12px rgba(0,0,0,0.6);

}

.vbottom{
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
}

#map {
	width: 100%;
	height: 100%;
	min-height: 500px;
}

.floating-panel {
  position: absolute;
  z-index: 5;
  top:0;
  background-color: #fff;
  padding: 5px;
  line-height: 30px;
  padding-left: 10px;
}

.floating-panel.panel-right {
	right: 0;
	right: 16px;
    top: 92px;
}

input[type='text'].form-control, textarea.form-control {
    border: 1px solid #bde687;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1rem;
    color: #999;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.scrollable {
	max-height: 356px;
	overflow-y: scroll;
}
ul#list-files li {
}

ul#list-files li:last-child {
	border-bottom: none !important;
}

#list-files .details {
	font-size: .75rem;
	color: #999;
}

#list-files .status {
	font-size: .60rem;
	text-transform: uppercase;
}

#list-files .list-group-item {
	background-color: transparent;
	padding-left: 2rem;
	border: none;
}

#list-files li.uploading {
	list-style: none;
}

#list-files .progress {
	border-radius: 0;
	height:5px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E0E0E0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bbb; 
}